.git
.gitignore
.dockerignore

__pycache__
*.py[cod]
.venv
venv
.ipynb_checkpoints

.conda
conda-meta

.vscode
.idea
.DS_Store
.env
.env.*
*.log

cmake-build-*
CMakeCache.txt
CMakeFiles
compile_commands.json
Makefile
out
build
dist
java-out
c/c-executables

images